.dark {
    -fx-background-color: #000;
}

.darkText {
    -fx-fill: #fff;
    -fx-text-fill: #fff;
}

.logo {
    -fx-text-fill: #698aff;
}

.MediaCard {
    -fx-padding: 8px;
    -fx-background-radius: 8px;
}

.MediaCardContainer {
    -fx-padding: 8px;
    -fx-border-radius: 8px;
}

.MediaCardImage {
    -fx-spacing: 8px;
    -fx-border-color: red;
    -fx-border-width: 10px;
    -fx-background-radius: 10px;
}

.MediaPlayButton {
    -fx-font-size: 20px;
    height: 20px;
    width: 20px;
    -fx-background-radius: 50%;
}
.MediaCardButton {
    visibility: hidden;
}

.MediaCardContainer:hover .MediaCardButton {
    display: block;
    visibility: visible;
}


.MediaGenreChoicebox {
    -fx-text-fill: blue;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.bordered {
    -fx-border-color: #cbcbcb;
    -fx-border-radius: 8px;
    -fx-padding: 8px;

}